.box {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: 1px solid black;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#winning-text {
    color: #ffffff;
}